body {
    background-color: bisque;
    font-family: "Comic Sans MS";
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    min-height: 56vh;
    width: 50%;
    border: 1px solid black;
    border-radius: 10px;
    display: block;
    text-align: center;
    align-items: center;
}

#commit {
    margin-top: 15px;
}

.status {
}


